doctype xml
vxml(
	version="2.1",
	application=(appName? appName : undefined)
)
	//- properties
	- for (var name in properties) {
	- 	if (properties.hasOwnProperty(name)) {
				property(name="#{name}", value="#{properties[name]}")
	-		}
	- }

	block body
